*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* ----------------------------------------------------------------- */
  .nav-bar, ul{
    display: flex;
    transition: all 1s;
   
 }
input{
    display: none;
}
label{
    display: none;
}
input:checked~ul{
    /* background-color: rgb(26, 70, 108); */
    left: 5%;
}
.bar{
   color: black;
   font-size: 40px;
   margin-right: 20px;
}
@media screen  and (max-width:600px) {
   
 .nav-bar h1 {
    padding-top: 10px;
    height: 56px;
    width: 260px;
    font-size: 30px;

}

ul{
   background-color: rgb(50, 202, 202);
   position: fixed;
   width: 90%;
   top: 150px;
   left: 100%;
   height: 50vh;
   flex-direction: column;
   align-items: center;
   padding-top: 40px;
  border-radius: 20px;
   
}

.li{
  margin-left: 140px;
}
label{
    display: block;
}
.pic{
   z-index: -1;
   
}
.akash{
  display: none;
  
}
.skills{
   display: flex;
  
    flex-wrap: wrap;
    
   
}
}

/* ......................................................................... */

 .nav-bar, ul{
    display: flex;
 }
 .nav-bar{
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    margin-top: 40px;
 }
 
  .nav-bar h1{
    font-size: 40px;
  }
 .nav-bar ul {
    font-size: 30px;
    font-weight: bold;
    gap: 30px;
    
 }
 .li{
    margin-right: 200px;
 }

/* Changes About Me */
 
.nav-bar h1{
   
    padding-top: 20px;
    height: 100px;
    width: 500px;
    border-top-right-radius:80px ;
     border-bottom-right-radius:80px ;
     color: white;
     text-align: center;
     background-color: black;
    
}
a{
    color: black;
}

 .akash{
    width: 300px;
    height: 400px;
    margin-left: 50px;
 }
 .my-self2{
    display: flex;
    margin-top: 5%;
 }
 .in-myself{
    width: 63%;
    font-size: 35px;
    font-weight: 400px;
    padding: 30px;
 }
 .btn{
    border: none;
    padding: 18px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50px;
    margin-top: 40px;
    
 }
 .btn1{
    color: white;
    background-color: black;
 }
 .btn2{
    background-color: white;
    border: 2px solid black;
    margin-left: 30px;
 }
 .skills{
    width: 80%;
    /* height: 150px; */
    border-radius: 50px;
    border: 2px solid black;
    margin-top: 20px;
    display: flex;
    text-align: center;
    padding: 20px;
   
 }
 .web-tool{
   border: none;
   width: 100px;
   height: 100px;
   margin-left: 2%;

   padding: 0;
   animation: none;
 }
 .nav-bar h1, .my-self2{
    animation-name: total;
    animation-duration: 1s;
  

 }
 .akash{
   animation-name: img;
    animation-duration: 2s;
   

 }
 .container{
   overflow: hidden;
 }
 @keyframes img {
    from{
        transform: translateX(-500%);
    }
    
 }
 @keyframes total {
    from{
        transform: translateX(-100%);
    }
    
 }
  .akash{
     width: 300px;
    height: 500px;;
    background-color: transparent;
    border: 5px solid black;
    padding-top: 30px;
     padding-left: 30px;
      padding-right: 30px;
    border-radius: 30px;
 }
 @media screen  and (min-width:600px) and (max-width:768px){

.nav-bar{
   display: unset;
}
.nav-bar h1{
   margin-top: 20px;
   margin-bottom: 10px;
}
.nav-bar ul{
   margin-left: 7%;
   font-size: 25px;
}
.in-myself{
   width: 100%;
}
.akash{
   display: none;
}
.skills{
   width: 100%;
   display: flex;
  
    flex-wrap: wrap;
    
   
}
}
 @media screen  and (min-width:768px) and (max-width:1024px){

ul{
   margin-left: 50px;
}
.nav-bar{
   display: unset;
}
.nav-bar h1{
   margin-top: 20px;
}
ul{
   margin-left: 20%;
   margin-top: 20px;
}
.skills{
   display: flex;
    flex-wrap: wrap;
    
   
}
.web-tool{
   border: none;
   width: 90px;
   /* height: 200px; */
   margin-left: 2%;

   padding: 0;
   animation: none;
 }

 }
  @media screen  and (min-width:1024px) and (max-width:1500px){
 
.skills{
   display: flex;
   flex-wrap: wrap;
}
}
