
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.black-white{
    width: 100%;
    height: 120vh;
    display: flex;
}
.box{
    height: 100%;
}
.box1{
    width: 35%;
    
}
.box2{
    width: 65%;
    background-color: black;
}
 
 .container{
    position: relative;
    overflow: hidden;
    animation-name: cont;
    animation-duration: 0.5s;
 }
 @keyframes cont {
    from{
        transform: scale(4);
    }
    to{
        transform: scale(1);
    }
    
 }
 .content{
    position: absolute;
    top: 0;
   
 }
 .incont1 h1{
    font-size: 150px;
    margin-left: 110px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .incont1 h1 span{
    color: white;
 }
 img{
    width: 450px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    border: 10px solid black;
    padding-top: 30px;
     padding-left: 30px;
      padding-right: 30px;
    border-radius: 30px;
 }
 .imgs{
    margin-left: 20%;
 }
form{
    color: white;
    position: absolute;
    left: 63%;
    top: 200px;
    width: 60%;
}
input, textarea{
    width: 100%;
    height: 90px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    border: 2px solid white;
    background-color: transparent;
    font-size: 20px;
    padding-left: 30px;
    color: white;
}
textarea{
height: 150px;
padding-top: 20px ;
}
button{
     width: 100%;
    height: 50px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    border: 2px solid white;
    font-size: 20px;
}
button:hover{
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.436);
}
.btn1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 100%;
    margin-top: 5%;
   font-size: 30px;
}


  
 
