*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.nav-bar h1{
   
    padding-top: 20px;
    height: 100px;
    width: 500px;
    border-top-right-radius:80px ;
     border-bottom-right-radius:80px ;
     color: black;
     text-align: center;
     background-color: white;

    
}
 .nav-bar, ul{
    display: flex;
 }
 .nav-bar{
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    margin-top: 40px;
 }
 
  .nav-bar h1{
    font-size: 40px;
    background-color: white;
  }
   a{
    color: white;
  }
 .nav-bar ul {
    font-size: 30px;
    font-weight: bold;
    gap: 30px;
    
 }
 .li{
    margin-right: 200px;
 }
 .nav-bar, .black{
    animation-name: total;
    animation-duration: 2s;
    /* animation-delay: 1s; */
 }
 .container{
   overflow: hidden;
  
   /* position: relative; */
 }
 body{
  position: relative;
   overflow: hidden;
 }
 .black{
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: black;
  z-index: -1;
  
 }

 @keyframes total {
    from{
        transform: translateX(100%);
    }
    
 }
 .project{
    display: flex;
    gap: 30px;
    justify-content: center;
   margin-top: 130px;
 }
 .box{
    width: 30%;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;

    
 }
 .in-box{
    width: 100%;
    height: 80%;
    /* background-color: cadetblue; */
    /* border-radius: 15px; */
    /* box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.501); */
    padding: 20px;
   
 }
 .in-box h6{
    font-size: 30px;
    font-weight: normal;
 }
 .in-box p{
    font-size: 20px;
    margin-top: 15px;
 }
 .skill{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   width: 80%;
   margin-top: 20px;
   color: whitesmoke;
 }
 
 .inskil{
   
   background-color: rgba(173, 172, 172, 0.445);
   font-size: 20px;
   padding: 10px;
   border-radius: 30px;
   

 }
 .in-box1{
   background-color: rgb(223, 223, 223);
 }
 .in-box2{
   background-color: gray;
 }
 .in-box3{
 background-color: lightgray;
 }
 .skills3{
   width: 100%;
   margin-top: 50px;
  gap: 30px;
 }
 .exp{
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
   color: rgb(65, 65, 65);
 }
 .exp a{
 color: rgb(65, 65, 65);
 }
 .icon{
   border: 2px solid black;
   padding: 5px;
   border-radius: 10px;
 }
 .inskil:hover{
   box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.433);
 }
 /* ----------------------------------------------------------------- */
  .nav-bar, ul{
    display: flex;
    transition: all 1s;
   
 }
input{
    display: none;
}
label{
    display: none;
}
input:checked~ul{
    /* background-color: rgb(26, 70, 108); */
    left: 5%;
}
.bar{
   color: white;
   font-size: 40px;
   margin-right: 20px;
}
@media screen  and (max-width:600px) {
   
   .nav-bar h1 {
    padding-top: 5px;
    height: 56px;
    width: 260px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    color: white;
    text-align: center;
    background-color: black;
}
ul{
   background-color: rgb(91, 93, 93);
   position: fixed;
   width: 90%;
   top: 100px;
   left: 100%;
   height: 80vh;
   flex-direction: column;
   align-items: center;
   
   padding-top: 40px;
  border-radius: 20px;
  
   
}

.li{
  margin-left: 200px;
  
}

label{
    display: block;
}
.pic{
   z-index: -1;
   
}
img{
  display: none;
}
}
/* ......................................................................... */
