@media screen and (max-width:430px) {
    .incont1 h1{
    font-size: 54px;
    margin-left: 6px;
    }
    img{
       display: none;
     
    }
   .incont1 h1 span{
        color: black;
    }
    .box{
        display: none;
    }
    input, textarea{
    width: 100%;
    height: 90px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    border: 2px solid black;
    background-color: transparent;
    font-size: 20px;
    padding-left: 30px;
    color: black;
}
form{
    color: black;
    position: absolute;
    left: 10%;
    top: 200px;
    width: 100%;
}
.btn1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 80%;
    margin-top: 5%;
   font-size: 30px;
}
}
@media screen and (min-width:430px) and (max-width:786px) {
    .incont1 h1{
    font-size: 74px;
    margin-left: 6px;
    }
    img{
       display: none;
     
    }
   .incont1 h1 span{
        color: black;
    }
    .box{
        display: none;
    }
    input, textarea{
    width: 100%;
    height: 90px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    border: 2px solid black;
    background-color: transparent;
    font-size: 20px;
    padding-left: 30px;
    color: black;
}
form{
    color: black;
    position: absolute;
    left: 10%;
    top: 200px;
    width: 100%;
}
.btn1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 80%;
    margin-top: 5%;
   font-size: 30px;
}
}
@media screen and (min-width:788px) and (max-width:1030px) {

      .incont1 h1{
    font-size: 120px;
    margin-left: 6px;
    } 
    img{
        width: 300px;
        height: 400px;
    }
   form{
    color: white;
    position: absolute;
    left: 63%;
    top: 200px;
    width: 60%;
}
input, textarea{
    width: 96%;
    height: 90px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    border: 2px solid white;
    background-color: transparent;
    font-size: 20px;
    padding-left: 30px;
    color: white;
}
.btn1{
  
    border-radius: 50%;
    margin-left: 80%;
    margin-top: 5%;
   font-size: 30px;
}
button{
    width: 96%;
}
}