*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
.black-white{
    width: 100%;
    height: 100vh;
    display: flex;
}
.box{
    width: 50%;
    height: 100%;
}
.box1{
    width: 60%;
    
}
.box2{
    width: 40%;
    background-color: black;
}
 .nav-bar, ul{
    display: flex;
    transition: all 1s;
   
 }
 ul a:first-child{
   color: black;
}
ul a:nth-child(2){
   color: black;
}
ul a:last-child{
   color: white;
}
ul a:nth-child(3){
   color: white;
}
 /* ----------------------------------------------------------------- */
  .nav-bar, ul{
    display: flex;
    transition: all 1s;
   
 }
input{
    display: none;
}
label{
    display: none;
}
input:checked~ul{
    /* background-color: rgb(26, 70, 108); */
    left: 5%;
}
.bar{
   color: black;
   font-size: 30px;
}
@media screen  and (max-width:600px) {
    
ul{
   background-color: black;
   color: white;
   position: fixed;
   width: 90%;
   top: 100px;
   left: 100%;
   height: 50vh;
   flex-direction: column;
   align-items: center;
   padding-top: 40px;
  border-radius: 20px;
  z-index: 1;
   
}
ul a:first-child{
   color: white;
}
ul a:nth-child(2){
   color: white;
}
.li{
  margin-left: 140px;
}
label{
    display: block;
}

img{
  display: none;
}
}
/* ......................................................................... */

 .nav-bar{
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 40px;

 }
 .container{
    position: relative;
    overflow: hidden;
 }
  .nav-bar h1{
    font-size: 40px;
  }
 .nav-bar ul {
    font-size: 30px;
    font-weight: bold;
    gap: 30px;
 }
 .info .name{
    font-size:58px ;
    
 }
 .info {
    margin-left: 150px;
 }
 img{
    width: 300px;
    height: 400px;
 }

 .my-self{
    display: flex;
   left: 100px;
    font-size: 36px;
    position: absolute;
    top: 170px;
   
 }
 span{
    color: white;
 }
 .info{
     width: 45%;
     margin-left: 319px;
 }
 .btn1, .btn2{
    width: 200px;
    border: none;
    padding: 20px;
    border-radius: 50px;
    font-size: 15px;
    /* font-weight: bold; */
    margin-left: 50px;
    margin-top: 50px;

 }
 .li{
   margin-right: 140px;
 }
 .btn1{
    background-color: black;
    color: white;
 }
 .my-self, .box2{
    animation-name: total;
    animation-duration: 2s;

 }
 @keyframes total {
    from{
        transform: translateX(100%);
    }
    
 }
 img{
     width: 300px;
    height: 500px;;
    background-color: transparent;
    border: 5px solid black;
    padding-top: 30px;
     padding-left: 30px;
      padding-right: 30px;
    border-radius: 30px;
 }